@import "tailwindcss";

:root {
  --background: #fcfcfc;
  --foreground: #1f1f1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-new-rocker);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --foreground: #e6e6e6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
